<title>Insert Employee</title>
{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
<div class="container">
	<p class="text-center display-3 pb-5">Employee Registration</p>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<table class="table table-striped text-white">
			<tr>
				<td class="col-lg-6">Upload Image: </td>
				<td class="col-lg-6">{{form.img}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Enter Name: </td>
				<td class="col-lg-6">{{form.name}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Enter Date of Birth: </td>
				<td class="col-lg-6">{{form.dob}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Enter Date of Joining: </td>
				<td class="col-lg-6">{{form.doj}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Select Gender: </td>
				<td class="col-lg-6">{{form.gender}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Physical and Psych Evaluation: </td>
				<td class="col-lg-6">{{form.eval}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Do you have insurance?: </td>
				<td class="col-lg-6">{{form.insurance}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Enter no. of Dependants: </td>
				<td class="col-lg-6">{{form.dependants}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Enter Salary (in Rupees): </td>
				<td class="col-lg-6">{{form.salary}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Select Department: </td>
				<td class="col-lg-6">{{form.dept}}</td>
			</tr>
			<tr>
				<td class="col-lg-6">Employer's Remarks: </td>
				<td class="col-lg-6">{{form.remarks}}</td>
			</tr>
		</table>

		<div class="text-center">
			<button class="btn btn-primary btn-lg" type="submit">Add Employee</button>
			<a href="{% url 'emp_view' %}" class="btn btn-lg btn-info">View Employees</a>
		</div>
		
	</form>

	<style>
		.custom-list {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	</style>
</div>
{% endblock %}

{% block error %}

{% endblock %}
