<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Employee Add Page</title>
	<link rel="stylesheet" href="./styles.css">
</head>
<body class="main">
	<h1>Employee Form</h1>
	<form action="send_data" method="POST">
		<label for="emp_img">Upload Employee Image: </label>
		<input type="file" name="emp_img" class="emp_img">

		<br>
		<label for="emp_name">Employee Name: </label>
		<input type="text" name="emp_name" class="emp_name">

		<br>
		<label for="emp_name">Employee Date of Birth: </label>
		<input type="date" name="dob" class="dob">

		<br>
		<p>Select Gender: </p>
		<input type="radio" class="male" name="gender" value="male">
		<label for="male" class="smol">Male</label><br>
		<input type="radio" class="female" name="gender" value="female">
		<label for="female" class="smol">Female</label><br>
		<input type="radio" class="other" name="gender" value="other">
		<label for="other" class="smol">Other</label>

		<br>
		<label for="emp_salary" >Employee Salary: </label>
		<input type="text" name="emp_salary" class="emp_salary">

		<br>
		<p>Physical and Mental evaluation: </p>
		<input type="checkbox" name="psych1" class="psych1">
		<label for="psych1" class="smol">Passed Psych Evaluation 1</label><br>
		<input type="checkbox" name="psych2" class="psych2">
		<label for="psych2" class="smol">Passed Psych Evaluation 2</label><br>
		<input type="checkbox" name="physical1" class="physical1">
		<label for="physical1" class="smol">Passed Physical Evaluation</label><br>


		<br>
		<p>Employer's Remarks: </p>
		<textarea name="emp_remarks" class="emp_remarks" cols="30" rows="10"></textarea><br>

		<input type="submit" name="submit" class="submit">
	</form>
</body>
</html>